<header class="header">
    <div class="header__logo-box">
        <img class="header__logo" src="../../../assets/img/logo angular.png" alt="logo angular" />
    </div>
    <div class="header__text-box">
        <h1 class="heading-primary">
        <span class="heading-primary--main">HELLO WORLD</span>
        <span class="heading-primary--sub">from angular universal</span>
        </h1>
        <a href="https://angular.io/guide/universal" target="_blank" class="btn btn--white btn--animated">See more</a>
    </div>
</header>
