@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// mediaquery manager
/*
0-600px phone
600px-900px tablet
900-1200, tablet and landscape
1200-1800 normal(porque empezamos en desktop)
1800- + big desktop

*/

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }
/*
breackpoint options:

phone
tab-port
tab-land
big-desktop

1em = 16px
*/
@mixin respond($breackpoint) {
  @if $breackpoint == phone {
    @media (max-width: 37.5em) /*600px*/ {
      @content;
    }
  }
  @if $breackpoint == tab-port {
    @media (max-width: 56.25em) /*900px*/ {
      @content;
    }
  }
  @if $breackpoint == tab-land {
    @media (max-width: 75em) /*1200px*/ {
      @content;
    }
  }
  @if $breackpoint == big-desktop {
    @media (min-width: 112.5em) /*1800px*/ {
      @content;
    }
  }
}
